*{
    background-color:rgb(173, 169, 169);
    font-weight: 700;
    text-align: center;
    padding: 1px;
    margin: 5px;
}


.flex-container{
    display: flex;
    background-color: #48E;
}


.btn{
    border-radius: 15px;
    /*display: inline-block;*/
    padding: 25px 35px;
    text-decoration: none; 
    text-shadow: 0 1px 0 rgba(255,255,255,255);
    box-shadow: 0 3px 3px rgba(255,255,255,255);
    width: 350px;
}

.btn-green{
    color: aliceblue;
    background-color: rgb(43, 161, 43);
}

.btn-green:hover{
    background-color: green;
}
.btn-gris{
    color: rgb(60, 148, 224);
    background-color: rgb(110, 114, 110);
}
.btn-gris:hover{
    background-color: rgb(54, 59, 54);
}